* {
  margin: 0;
  font-family: 'Roboto'!important;
}

button:focus {
  outline: 0!important;
  border: 0!important;
}

.bg-resaltado {
  background-color: #c7c7c7!important;
}

.text-error {
  color: #f44336!important;
}

.material-color-primary {
  color: #3f51b5!important;
}
.material-bg-primary {
  background-color: #2492c6!important;
}
.pointer {
  cursor: pointer;
}

.MuiDialog-paper {
  margin: 0!important;
}

.MuiDialog-paperFullWidth {
  width: 95%!important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
@media (max-width: 663.95px) {
  .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
    max-width: none!important;
  }
}

.boton-whatsapp-texto {
  background-color:#4cca5a
}
.boton-whatsapp {
  bottom: 1%;
  right: 10px;
  overflow: hidden;
}

.boton-whatsapp img {
  width: 50px;
}