* {
  margin: 0;
  font-family: 'Roboto'!important;
}

button:focus {
  outline: 0!important;
  border: 0!important;
}

.bg-resaltado {
  background-color: #c7c7c7!important;
}

.text-error {
  color: #f44336!important;
}

.material-color-primary {
  color: #3f51b5!important;
}
.material-bg-primary {
  background-color: #3f51b5!important;
}
.pointer {
  cursor: pointer;
}

.MuiDialog-paper {
  margin: 0!important;
}

.MuiDialog-paperFullWidth {
  width: 95%!important;
}
@media (max-width: 663.95px) {
  .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
    max-width: none!important;
  }
}
